<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
  $(function(){
    var aliveCells = [];
    var canvas = document.getElementById('world');
    canvas.width = 400;
    canvas.height = 400;
    var cellLength = 20;
    var ctx = canvas.getContext('2d');
    ctx.fillStyle = "rgb(200,0,0)";
    connection = new WebSocket("ws://localhost:9160/?worldID={{worldID}}");
    connection.onclose = function(e) {
      console.log(e.code)
    };
    var getEventCoordinates = function(e) {
      var xCoordinate = e.pageX - canvas.offsetLeft;
      var yCoordinate = e.pageY - canvas.offsetTop;
      return {x: xCoordinate, y: yCoordinate};
    }
    var indicesForCoordinates = function(coordinates) {
      return {
        pX: Math.floor(coordinates.x / cellLength),
        pY: Math.floor(coordinates.y / cellLength),
      }
    }
    var coordinatesForIndices = function(indices) {
      return {
        xPixels: Math.floor(indices.pX * cellLength),
        yPixels: Math.floor(indices.pY * cellLength),
      }
    }
    var coordinatesAlive = function(coordinates) {
      var finds = $.grep(aliveCells, function(cell) {
        return cellsEqual(coordinates, cell);
      });
      return !!(finds.length);
    }

    var cellsEqual = function(a,b) {
      return ((a.pX === b.pX) && (a.pY === b.pY));
    }

    var toggleCell = function(cellIndices) {
      var getMessage = function() {
        if (coordinatesAlive(cellIndices)) {
          return {tag: "SetDead", contents: [cellIndices]};
        } else {
          return {tag: "SetAlive", contents: [cellIndices]};
        }
      }
      var updateLocalModel = function () {
        if (coordinatesAlive(cellIndices)) {
          aliveCells = $.grep(aliveCells, function(cell) {
            return !cellsEqual(cellIndices, cell);
          });
        } else {
          aliveCells.push(cellIndices);
        }
      }
      connection.send(JSON.stringify(getMessage()));
      updateLocalModel();
      refresh();
    }

    var refresh = function() {
      var drawAliveCell = function(cell) {
          var cornerLocation = coordinatesForIndices(cell);
          ctx.fillRect(cornerLocation.xPixels, cornerLocation.yPixels, cellLength, cellLength);
      }
      var drawGrid = function() {
        var drawVerticalLine = function(x) {
          ctx.beginPath();
          ctx.moveTo(x, 0);
          ctx.lineTo(x, canvas.height);
          ctx.stroke();
        }
        var drawHorizontalLine = function(y) {
          ctx.beginPath();
          ctx.moveTo(0, y);
          ctx.lineTo(canvas.width, y);
          ctx.stroke();
        }
        for(var xPixels = 0; xPixels <= canvas.width; xPixels += cellLength) {
          drawVerticalLine(xPixels);
        }

        for(var yPixels = 0; yPixels <= canvas.height; yPixels += cellLength) {
          drawHorizontalLine(yPixels);
        }
      }
      var clear = function(){ ctx.clearRect(0, 0, canvas.width, canvas.height);}
      var drawAliveCells = function() {
        for (var i = 0; i < aliveCells.length; i++){
            var cell = aliveCells[i];
            drawAliveCell(cell);
        }
      }
      clear();
      drawAliveCells();
      drawGrid();
    }


    canvas.addEventListener('click', function(e){
      coordinates = getEventCoordinates(e);
      cellIndices = indicesForCoordinates(coordinates);
      toggleCell(cellIndices);
    });
    connection.onmessage = function(message){
      var cells = JSON.parse(message.data);
      aliveCells = cells; // HOIST!!!
      refresh();
      console.log(message.data);
    };
    $("#pause").on('click', function() {
      connection.send(pause);
    });
    $("#resume").on('click', function() {
      connection.send(resume);
    });
    var pause = JSON.stringify({tag: "Pause", contents: []});
    var resume = JSON.stringify({tag: "Resume", contents: []});
  });
</script>
</head>
<body>
<h1> Currently Viewing World #{{worldID}}</h1>
<canvas id="world"></canvas>
<button id="pause">PAUSE</button>
<button id="resume">RESUME</button>
</body>
