<head>
<script src="/static/jquery.js"></script>
<script src="/static/ui.js"></script>

<link rel="stylesheet" type="text/css" href="/static/easyrtc/easyrtc.css" />
<script type="text/javascript" src="/static/socketio/socketio.js"></script>
<script type="text/javascript" src="/static/easyrtc/easyrtc.js"></script>

<script type="text/javascript">
$(function(){
    function my_init() {
        easyrtc.setSocketUrl(":8080");
         easyrtc.setRoomOccupantListener( loggedInListener);
         easyrtc.easyApp("Company_Chat_Line", "self", ["caller"],
             function(myId) {
                console.log("My easyrtcid is " + myId);
             }
         );
     }
     function loggedInListener(roomName, otherPeers) {
        console.log(otherPeers);
        console.log("yo");
        var otherClientDiv = document.getElementById('otherClients');
        while (otherClientDiv.hasChildNodes()) {
            otherClientDiv.removeChild(otherClientDiv.lastChild);
        }
        for(var i in otherPeers) {
            var button = document.createElement('button');
            button.onclick = function(easyrtcid) {
                return function() {
                    performCall(easyrtcid);
                }
            }(i);

            label = document.createTextNode(i);
            button.appendChild(label);
            otherClientDiv.appendChild(button);
        }
    }
    function performCall(easyrtcid) {
        easyrtc.call(
           easyrtcid,
           function(easyrtcid) { console.log("completed call to " + easyrtcid);},
           function(errorMessage) { console.log("err:" + errorMessage);},
           function(accepted, bywho) {
              console.log((accepted?"accepted":"rejected")+ " by " + bywho);
           }
       );
    }

  init({{worldID}}, {{cellsWidth}}, {{cellsHeight}});
  my_init();
});
</script>
</head>
<body>
  <h1> Currently Viewing World #{{worldID}}</h1>
  <div style="float:left; width: 75%">
    <h3 id="status-running" style="background-color: green; display: none"><font color="yellow">RUNNING</font></h3>
    <h3 id="status-stopped" style="background-color: red; display: none"><font color="yellow">PAUSED</font></h3>
    <div>
      <button id="pause">PAUSE</button>
    </div>
    <div>
      <button id="resume">RESUME</button>
    </div>
    <div>
      <button id="clear_button">CLEAR</button>
    </div>
    <div>
      <input type="text" id="save_name" placeholder="save state"></input>
      <button id="save_button">SAVEIT</button>
    </div>
    <div>
      <input type="text" id="restore_name" placeholder="restore state"></input>
      <button id="restore_button">GETIT</button>
    </div>
    <canvas id="world"></canvas>
  </div>
  <div style="float: right; width:20%">
    <div id="otherClients"> </div>
    <video  style="float:left" id="self" width="300" height="200"></video>
    <div style="position:relative;float:left;width:300px">
      <video id="caller" width="300" height="200"></video>
    </div>
  </div>
</body>
