<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/ui.js"></script>
<script type="text/javascript">
$(function(){init({{worldID}});});
</script>
</head>
<body>
<h1> Currently Viewing World #{{worldID}}</h1>
<canvas id="world"></canvas>
<button id="pause">PAUSE</button>
<button id="resume">RESUME</button>
<div>
  <button id="clear_button">CLEAR</button>
</div>
<div>
  <input type="text" id="save_name" placeholder="save state"></input>
  <button id="save_button">SAVEIT</button>
</div>
<div>
  <input type="text" id="restore_name" placeholder="restore state"></input>
  <button id="restore_button">GETIT</button>
</div>
</body>
